<a href="https://colab.research.google.com/github/Niktain-america/Project-Portfolio/blob/main/Forest_Cover_of_Rajasthan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analysis of Forest Cover of Rajasthan(2021 Report)

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Rajasthan Forest Cover.xlsx")
df.head()

,S.No.,District,Forest Block(Reserved Forest),Area(Reserved Forest(Ha.)),Forest Block(Protected Forest),Area(Protected Forest(Ha.)),Forest Block(Unclassified Forest),Area(Unclassified Forest(Ha.)),Forest Block(Total Forest Area),Area(Total Forest Area (Ha.))
0,1.0,Ajmer,35,19498.9569,173,42168.868,6,189.1220,214,61856.9469
1,2.0,Alwar,58,101078.1300,318,64118.480,147,13269.3700,523,178465.9800
2,3.0,Banswara,0,0.0000,187,100633.068,3,66.4400,190,100699.5080
3,4.0,Baran,0,0.0000,194,223302.670,34,2039.7900,228,225342.4600
4,5.0,Barmer,1,2029.5500,164,56902.198,58,3666.1352,223,62597.8832

In [3]:
df = df.drop('S.No.', axis=1)

In [4]:
df.head()

,District,Forest Block(Reserved Forest),Area(Reserved Forest(Ha.)),Forest Block(Protected Forest),Area(Protected Forest(Ha.)),Forest Block(Unclassified Forest),Area(Unclassified Forest(Ha.)),Forest Block(Total Forest Area),Area(Total Forest Area (Ha.))
0,Ajmer,35,19498.9569,173,42168.868,6,189.1220,214,61856.9469
1,Alwar,58,101078.1300,318,64118.480,147,13269.3700,523,178465.9800
2,Banswara,0,0.0000,187,100633.068,3,66.4400,190,100699.5080
3,Baran,0,0.0000,194,223302.670,34,2039.7900,228,225342.4600
4,Barmer,1,2029.5500,164,56902.198,58,3666.1352,223,62597.8832

There are 34 rows and 10 columns in the dataframe.

In [5]:
df.shape

(34, 9)

There is 1 OBJECT type(District), INT type(for Blocks) and FLOAT type for Areas of various forest.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   District                           34 non-null     object
 1   Forest Block(Reserved Forest)      34 non-null     int64
 2   Area(Reserved Forest(Ha.))         34 non-null     float64
 3   Forest Block(Protected Forest)     34 non-null     int64
 4   Area(Protected Forest(Ha.))        34 non-null     float64
 5   Forest Block(Unclassified Forest)  34 non-null     int64
 6   Area(Unclassified Forest(Ha.))     34 non-null     float64
 7   Forest Block(Total Forest Area)    34 non-null     int64
 8   Area(Total Forest Area (Ha.))      34 non-null     float64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.5+ KB

In [7]:
df.columns

Index(['District', 'Forest Block(Reserved Forest)',
       'Area(Reserved Forest(Ha.))', 'Forest Block(Protected Forest)',
       'Area(Protected Forest(Ha.))', 'Forest Block(Unclassified Forest)',
       'Area(Unclassified Forest(Ha.))', 'Forest Block(Total Forest Area)',
       'Area(Total Forest Area (Ha.))'],
      dtype='object')

Let's see which District has topped in Forest Cover?

In [8]:
df.max()

District                                 Udaipur
Forest Block(Reserved Forest)                919
Area(Reserved Forest(Ha.))           1217623.547
Forest Block(Protected Forest)              3499
Area(Protected Forest(Ha.))          1856445.367
Forest Block(Unclassified Forest)           2246
Area(Unclassified Forest(Ha.))       212393.2515
Forest Block(Total Forest Area)             6664
Area(Total Forest Area (Ha.))        3286462.165
dtype: object

Let's see which District has least Forest Cover?

In [9]:
df.min()

District                               Ajmer
Forest Block(Reserved Forest)              0
Area(Reserved Forest(Ha.))               0.0
Forest Block(Protected Forest)            12
Area(Protected Forest(Ha.))          4857.71
Forest Block(Unclassified Forest)          0
Area(Unclassified Forest(Ha.))           0.0
Forest Block(Total Forest Area)           37
Area(Total Forest Area (Ha.))        7373.27
dtype: object

There are 34 Districts in the state of Rajasthan.

In [10]:
df.District

0             Ajmer
1             Alwar
2          Banswara
3             Baran
4            Barmer
5         Bharatpur
6          Bhilwara
7           Bikaner
8             Bundi
9      Chhittorgarh
10            Churu
11            Dausa
12          Dholpur
13        Dungarpur
14      Hanumangarh
15           Jaipur
16        Jaisalmer
17           Jalore
18         Jhalawar
19        Jhunjhunu
20         Jhodhpur
21           Karoli
22             Kota
23           Nagour
24             Pali
25       Pratapgarh
26        Rajsamand
27    Sawaimadhopur
28            Sikar
29           Sirohi
30    Sriganganagar
31             Tonk
32          Udaipur
33            Total
Name: District, dtype: object

In [11]:
df.District[0]

'Ajmer'

Whole Information regarding the Ajmer District.

In [12]:
df.iloc[0]

District                                  Ajmer
Forest Block(Reserved Forest)                35
Area(Reserved Forest(Ha.))           19498.9569
Forest Block(Protected Forest)              173
Area(Protected Forest(Ha.))           42168.868
Forest Block(Unclassified Forest)             6
Area(Unclassified Forest(Ha.))          189.122
Forest Block(Total Forest Area)             214
Area(Total Forest Area (Ha.))        61856.9469
Name: 0, dtype: object

In [13]:
df.iloc[:,1]

0      35
1      58
2       0
3       0
4       1
5       0
6     105
7       0
8      41
9     104
10      1
11     27
12      1
13     15
14      0
15     60
16      0
17      6
18     31
19      2
20      2
21      9
22     34
23      1
24     52
25     49
26     29
27     30
28      8
29     46
30      0
31      9
32    163
33    919
Name: Forest Block(Reserved Forest), dtype: int64

In [14]:
df.iloc[:3,1]

0    35
1    58
2     0
Name: Forest Block(Reserved Forest), dtype: int64

It list the last five rows of the dataset.

In [15]:
df.iloc[-5:]

,District,Forest Block(Reserved Forest),Area(Reserved Forest(Ha.)),Forest Block(Protected Forest),Area(Protected Forest(Ha.)),Forest Block(Unclassified Forest),Area(Unclassified Forest(Ha.)),Forest Block(Total Forest Area),Area(Total Forest Area (Ha.))
29,Sirohi,46,61404.156,32,98542.780,6,4260.9150,84,1.642079e+05
30,Sriganganagar,0,0.000,184,23841.669,378,39502.4280,562,6.334410e+04
31,Tonk,9,10141.730,38,22918.750,7,297.4500,54,3.335793e+04
32,Udaipur,163,265406.080,225,149464.859,30,1320.5733,418,4.161915e+05
33,Total,919,1217623.547,3499,1856445.367,2246,212393.2515,6664,3.286462e+06

In [16]:
df.loc[1,'District']

'Alwar'

It returns the Forest Block of Total Forest of each Districts.

In [17]:
df.loc[:,['Forest Block(Total Forest Area)']]

    Forest Block(Total Forest Area)
0                               214
1                               523
2                               190
3                               228
4                               223
5                                75
6                               343
7                              1103
8                               171
9                               200
10                               48
11                               52
12                               37
13                               91
14                              258
15                              119
16                              115
17                              101
18                              295
19                               39
20                              158
21                              118
22                              216
23                               97
24                              116
25                              132
26                              125
27                               52
28                              107
29                               84
30                              562
31                               54
32                              418
33                             6664

This is my favourite place. Let's find out where Kota is?

In [18]:
df.District=='Kota'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: District, dtype: bool

Let's see what is condition of Forest in Kota?

In [19]:
df.loc[df.District=='Kota']

,District,Forest Block(Reserved Forest),Area(Reserved Forest(Ha.)),Forest Block(Protected Forest),Area(Protected Forest(Ha.)),Forest Block(Unclassified Forest),Area(Unclassified Forest(Ha.)),Forest Block(Total Forest Area),Area(Total Forest Area (Ha.))
22,Kota,34,83762.985,158,45257.968,24,7737.734,216,136758.687

To check the null values.

In [20]:
df.isnull().sum()

District                             0
Forest Block(Reserved Forest)        0
Area(Reserved Forest(Ha.))           0
Forest Block(Protected Forest)       0
Area(Protected Forest(Ha.))          0
Forest Block(Unclassified Forest)    0
Area(Unclassified Forest(Ha.))       0
Forest Block(Total Forest Area)      0
Area(Total Forest Area (Ha.))        0
dtype: int64

To rename the column.

In [21]:
df.rename(columns = {'Area(Total Forest Area (Ha.))':'Total Forest Area'},inplace = True)

In [22]:
df.columns

Index(['District', 'Forest Block(Reserved Forest)',
       'Area(Reserved Forest(Ha.))', 'Forest Block(Protected Forest)',
       'Area(Protected Forest(Ha.))', 'Forest Block(Unclassified Forest)',
       'Area(Unclassified Forest(Ha.))', 'Forest Block(Total Forest Area)',
       'Total Forest Area'],
      dtype='object')

Create another Dataframe comprising  District and Area(Protected Forest(Ha.) and Total Forest Area.

In [23]:
df_1=df[['District','Area(Protected Forest(Ha.))', 'Total Forest Area']]
df_1.head()

   District  Area(Protected Forest(Ha.))  Total Forest Area
0     Ajmer                    42168.868         61856.9469
1     Alwar                    64118.480        178465.9800
2  Banswara                   100633.068        100699.5080
3     Baran                   223302.670        225342.4600
4    Barmer                    56902.198         62597.8832

Let's find which district has Maximum Forest Cover?

In [24]:
df_1.max()

District                           Udaipur
Area(Protected Forest(Ha.))    1856445.367
Total Forest Area              3286462.165
dtype: object

Let's see which District has Minimum Forest Cover?

In [25]:
df_1.min()

District                         Ajmer
Area(Protected Forest(Ha.))    4857.71
Total Forest Area              7373.27
dtype: object

In [26]:
df.columns

Index(['District', 'Forest Block(Reserved Forest)',
       'Area(Reserved Forest(Ha.))', 'Forest Block(Protected Forest)',
       'Area(Protected Forest(Ha.))', 'Forest Block(Unclassified Forest)',
       'Area(Unclassified Forest(Ha.))', 'Forest Block(Total Forest Area)',
       'Total Forest Area'],
      dtype='object')

Let's create another dataframe comprising District, Area(Reserved Forest(Ha.), Area(Protected Forest(Ha.), "Area(Unclassified Forest(Ha.)) and Total Forest Area.

In [27]:
df_2=df[['District','Area(Reserved Forest(Ha.))','Area(Protected Forest(Ha.))','Area(Unclassified Forest(Ha.))', 'Total Forest Area']]
df_2.head()

,District,Area(Reserved Forest(Ha.)),Area(Protected Forest(Ha.)),Area(Unclassified Forest(Ha.)),Total Forest Area
0,Ajmer,19498.9569,42168.868,189.1220,61856.9469
1,Alwar,101078.1300,64118.480,13269.3700,178465.9800
2,Banswara,0.0000,100633.068,66.4400,100699.5080
3,Baran,0.0000,223302.670,2039.7900,225342.4600
4,Barmer,2029.5500,56902.198,3666.1352,62597.8832

Let's see which District has maximum value?

In [28]:
df_2.max()

District                              Udaipur
Area(Reserved Forest(Ha.))        1217623.547
Area(Protected Forest(Ha.))       1856445.367
Area(Unclassified Forest(Ha.))    212393.2515
Total Forest Area                 3286462.165
dtype: object

Let's see which District has Minimum Value?

In [29]:
df_2.min()

District                            Ajmer
Area(Reserved Forest(Ha.))            0.0
Area(Protected Forest(Ha.))       4857.71
Area(Unclassified Forest(Ha.))        0.0
Total Forest Area                 7373.27
dtype: object

Let's know more about Kota District.

In [30]:
df_2.iloc[22]

District                                Kota
Area(Reserved Forest(Ha.))         83762.985
Area(Protected Forest(Ha.))        45257.968
Area(Unclassified Forest(Ha.))      7737.734
Total Forest Area                 136758.687
Name: 22, dtype: object