In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Sales.csv')
df.head()

,Year,Month,Type,Salesperson,Region,Sales,Units,Order #
0,2013,January,Ice Cream,Bishop,West,"$2,395.50",1597,1
1,2013,January,Ice Cream,Bishop,West,"$11,761.50",7841,2
2,2013,January,Frozen Yogurt,Bishop,West,"$8,943.00",5962,3
3,2013,January,Ice Cream,Bishop,West,"$2,395.50",1597,4
4,2013,January,Ice Cream,Bishop,West,"$11,761.50",7841,5

In [3]:
df.shape

(444, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 8 columns):
Year           444 non-null int64
Month          444 non-null object
Type           444 non-null object
Salesperson    444 non-null object
Region         444 non-null object
Sales          444 non-null object
Units          444 non-null int64
Order #        444 non-null int64
dtypes: int64(3), object(5)
memory usage: 19.1+ KB

In [5]:
df.isnull().sum()

Year           0
Month          0
Type           0
Salesperson    0
Region         0
Sales          0
Units          0
Order #        0
dtype: int64

In [6]:
df['Calories']=df['Calories'].fillna(df['Calories'].mean())

KeyError: 'Calories'

In [14]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [7]:
df.describe()

              Year        Units     Order #
count   444.000000   444.000000  444.000000
mean   2014.000000  5231.067568  222.500000
std       0.817418  2821.212209  128.316016
min    2013.000000   157.000000    1.000000
25%    2013.000000  2598.000000  111.750000
50%    2014.000000  4896.000000  222.500000
75%    2015.000000  7841.000000  333.250000
max    2015.000000  9765.000000  444.000000

In [9]:
df['Calories']=df['Calories'].fillna(df['Calories'].mean())

KeyError: 'Calories'

In [11]:
a=df.groupby('Salesperson', as_index=False)['Units'].count()
a

  Salesperson  Units
0      Bishop     90
1         Lee     96
2      Parker    102
3      Pullen     84
4      Watson     72

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import pandas as pd
df=pd.read_csv('Sales.csv')
df.head()

,Year,Month,Type,Salesperson,Region,Sales,Units,Order #
0,2013,January,Ice Cream,Bishop,West,"$2,395.50",1597,1
1,2013,January,Ice Cream,Bishop,West,"$11,761.50",7841,2
2,2013,January,Frozen Yogurt,Bishop,West,"$8,943.00",5962,3
3,2013,January,Ice Cream,Bishop,West,"$2,395.50",1597,4
4,2013,January,Ice Cream,Bishop,West,"$11,761.50",7841,5