In [27]:
print('hello world!')

hello world!

In [12]:
x="Hello" 
y="World"
print(x+' '+y)
print(x[:3])
print(y[:1])
print(y[3]+y[0])

Hello World
Hel
W
lW

In [29]:
x1=8
x2=4
print(x1+x2)
print(x1-x2)
print(x1/x2)
print(x1*x2)
print(x1**x2)
print(x1**x1)

12
4
2.0
32
4096
16777216

In [25]:
x='3'
y='5'
print(x+y)

35

In [16]:
str='Hello World'
print(str)
print(str[:2])
print(str[2:])
print(str * 2)
print(str[0])
print(str[2:5])
print(str+ " To You ")

Hello World
He
llo World
Hello WorldHello World
H
llo
Hello World To You

In [6]:
print(str.capitalize('hello'))
s='hello'
print(s.upper())
str1='hello world'
print(len(str1))
str2='h123'
str3='123'
print(str2.isdigit())
print(str3.isdigit())
print(str2.replace('123','ello'))

Hello
HELLO
11
False
True
hello

In [17]:
print(str.capitalize('nikhil'))
s='my name is Nikhil singh'
print(s.upper())
str1='Nikh10'
str2='2345'
print(str1.isdigit())
print(str2.isdigit())
print(str1.replace('10','il'))

Nikhil
MY NAME IS NIKHIL SINGH
False
True
Nikhil

In [19]:
a=2
b=4.00
c='hello'
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [29]:
x='10'
print('Age of x is'  +x)

Age of x is10

In [2]:
x=2
y='Hello'
print(str(x)+y)

2Hello

In [3]:
x=[]
print(type(x))

<class 'list'>

In [4]:
x=[1,2,3,'Apple','Money']
print(x)

[1, 2, 3, 'Apple', 'Money']

In [10]:
x=[1,2,3,4,5]
x.append(6)
print(x)
x.append(8)
print(x)
x.reverse()
print(x)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 8]
[8, 6, 5, 4, 3, 2, 1]

In [9]:
x=[1,2,3,4,5]
x.insert(1,6)
print(x)

[1, 6, 2, 3, 4, 5]

In [14]:
x=[1,2,3,4,5]
x.remove(1)
print(x)

[2, 3, 4, 5]

In [19]:
x=[1,2,3,4,5]
del x[1]
print(x)

[1, 3, 4, 5]

In [32]:
a={'Apple':12, 'Banana':15, 'Orange':20}
print(a)
print(a['Orange'])
print(a.keys())
print(a.values())
print(len(a))
del a['Orange']
print(a)
a['Strawberry']=24
a
a['Apple']=25
a

{'Apple': 12, 'Banana': 15, 'Orange': 20}
20
dict_keys(['Apple', 'Banana', 'Orange'])
dict_values([12, 15, 20])
3
{'Apple': 12, 'Banana': 15}

{'Apple': 25, 'Banana': 15, 'Strawberry': 24}

In [4]:
i=1
c=0
while i<=100:
    if i%2==0:
        c=c+i
    i=i+1
    print('Total Sum is: '+ str(c))

Total Sum is: 0
Total Sum is: 2
Total Sum is: 2
Total Sum is: 6
Total Sum is: 6
Total Sum is: 12
Total Sum is: 12
Total Sum is: 20
Total Sum is: 20
Total Sum is: 30
Total Sum is: 30
Total Sum is: 42
Total Sum is: 42
Total Sum is: 56
Total Sum is: 56
Total Sum is: 72
Total Sum is: 72
Total Sum is: 90
Total Sum is: 90
Total Sum is: 110
Total Sum is: 110
Total Sum is: 132
Total Sum is: 132
Total Sum is: 156
Total Sum is: 156
Total Sum is: 182
Total Sum is: 182
Total Sum is: 210
Total Sum is: 210
Total Sum is: 240
Total Sum is: 240
Total Sum is: 272
Total Sum is: 272
Total Sum is: 306
Total Sum is: 306
Total Sum is: 342
Total Sum is: 342
Total Sum is: 380
Total Sum is: 380
Total Sum is: 420
Total Sum is: 420
Total Sum is: 462
Total Sum is: 462
Total Sum is: 506
Total Sum is: 506
Total Sum is: 552
Total Sum is: 552
Total Sum is: 600
Total Sum is: 600
Total Sum is: 650
Total Sum is: 650
Total Sum is: 702
Total Sum is: 702
Total Sum is: 756
Total Sum is: 756
Total Sum is: 812
Total Sum is: 812
Total Sum is: 870
Total Sum is: 870
Total Sum is: 930
Total Sum is: 930
Total Sum is: 992
Total Sum is: 992
Total Sum is: 1056
Total Sum is: 1056
Total Sum is: 1122
Total Sum is: 1122
Total Sum is: 1190
Total Sum is: 1190
Total Sum is: 1260
Total Sum is: 1260
Total Sum is: 1332
Total Sum is: 1332
Total Sum is: 1406
Total Sum is: 1406
Total Sum is: 1482
Total Sum is: 1482
Total Sum is: 1560
Total Sum is: 1560
Total Sum is: 1640
Total Sum is: 1640
Total Sum is: 1722
Total Sum is: 1722
Total Sum is: 1806
Total Sum is: 1806
Total Sum is: 1892
Total Sum is: 1892
Total Sum is: 1980
Total Sum is: 1980
Total Sum is: 2070
Total Sum is: 2070
Total Sum is: 2162
Total Sum is: 2162
Total Sum is: 2256
Total Sum is: 2256
Total Sum is: 2352
Total Sum is: 2352
Total Sum is: 2450
Total Sum is: 2450
Total Sum is: 2550

In [8]:
numsequence=range(5)

for i in numsequence:
    print (i)

0
1
2
3
4

In [11]:
list1=['A','B','C','D','E']

for i in range(len(list1)):
    print('Current alphabet is:'+list1[i] )

Current alphabet is:A
Current alphabet is:B
Current alphabet is:C
Current alphabet is:D
Current alphabet is:E

In [14]:
list1=['A','B','C','D','E']
for i in list1:
    print (i)

A
B
C
D
E

In [26]:
X=(1,2,3,4,5)
for i in range(5):
    print("X "+X(i))

TypeError: 'tuple' object is not callable

In [3]:
c=1
while c<10:
    print(c)
     
    if c==8:
        break
    c=c+1

1
2
3
4
5
6
7
8

In [ ]:
c=0

while c<10:
    c=c+1
    if c==8:
        continue

    print(c)

In [10]:
i=5
c=i
while i>1:
    i=i-1
    c=c*i
print(c)

120

In [21]:
c=0

while c<20:
    print(c)
        
    if c==10:
        break
    c=c+1

0
1
2
3
4
5
6
7
8
9
10

In [24]:
c=2
while c<16:
    print(c)
    
    if c==10:
        break
    c=c+2

2
4
6
8
10

In [1]:
c=0 
while c<20:
    c=c+2
    if c==10:
        continue
        
    print(c)

2
4
6
8
12
14
16
18
20

C:\Users\ser\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
c=1
while c<30:
    print(c)
    if c==5:
        break
    c=c+1

1
2
3
4
5

In [4]:
c=0
while c<15:
    c=c+3
    if c==9:
        continue
    print(c)

3
6
12
15

In [1]:
c=8
while c<80:
    c=c+8
    if c==16:
        continue
    print(c)

24
32
40
48
56
64
72
80

In [4]:
c=10
while c<120:
    print(c)
    if c==100:
        break
    c=c+10

10
20
30
40
50
60
70
80
90
100

In [6]:
c=0
while c<120:
    c=c+10
    if c==100:
        continue
    print(c)

10
20
30
40
50
60
70
80
90
110
120

In [5]:
i=1
f=1
n=2
while(i<=n):
    f=f*i
    i++
print(f)

SyntaxError: invalid syntax (<ipython-input-5-cd91fbaffea2>, line 6)

In [8]:
i=6
c=6
while i>1:
    i-=1
    c*=i
print(c)

720

In [22]:
i=2
c=i
while i>1:
    i-=1
    c*=i
print(c)

2

In [23]:
i=5
c=i
while i>1:
    i-=1
    c*=i
print(c)

120

In [25]:
c=4
factorial=1
for i in range(1,c+1):
    factorial=factorial*i
print('The factorial of '+ str(c)is+ str(factorial))

TypeError: bad operand type for unary +: 'str'