In [5]:
import pandas as pd
import numpy as np

In [11]:
df_G= pd.DataFrame({'key':list('bbacccb'),
               'val':np.random.randn(7)})
df_G

  key       val
0   b -0.432627
1   b  0.842081
2   a  0.907483
3   c -0.345647
4   c  1.309758
5   c -0.146761
6   b -0.628723

In [15]:
pd.get_dummies(df_G['key'],prefix='bool').astype(int)

   bool_a  bool_b  bool_c
0       0       1       0
1       0       1       0
2       1       0       0
3       0       0       1
4       0       0       1
5       0       0       1
6       0       1       0

In [13]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
bool_a    7 non-null int32
bool_b    7 non-null int32
bool_c    7 non-null int32
dtypes: int32(3)
memory usage: 124.0 bytes